# ConfigMaps for SHARED application configuration
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: dsbd
data:
  # Kafka configuration
  kafka-broker: "kafka.dsbd.svc.cluster.local:29092"
  kafka-topic-to-alert: "to-alert-system"
  kafka-topic-to-notifier: "to-notifier"
  
  # Database configuration
  userdb-host: "userdb"
  userdb-port: "3306"
  userdb-name: "userdb"
  
  datadb-host: "datadb"
  datadb-port: "3306"
  datadb-name: "datadb"
  
  # Refresh interval (12 hours in seconds)
  refresh-interval: "43200"
